<form class="form-group" method="post">
    <div>
        <label>Film Adı</label>
        <input type="text" class="form-control" name="Title" />
    </div>
    <div>
        <label>Vizyon Tarihi</label>
        <input type="text" class="form-control" name="ReleaseDate" />
    </div>
    <div>
        <label>Tür</label>
        <input type="text" class="form-control" name="Genre" />
    </div>
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="Price " />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btnEkle">Film Ekle</button>
    </div>
    <script>
        $('#btnEkle').click(function () {
            alert('Film Ekleme İşlemi Yapıldı')
        });
    </script>
</form>
