@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2><b>İLETİŞİM</b></h2>
<br />
<br />
<p>
    Bize ulaşmak istiyorsanız iletişim adreslerimiz:
    <br />
    <br />
    <b> Telefon: </b> 0312 440 05 02
    <br />
    <br />
    <b>EMail: </b><a href=" "> filmsitesi@gmail.com</a>
</p>
